body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #111;
    color: #fff;
    overflow-x: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliding-name {
    white-space: nowrap;
    font-size: 11rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    animation: slide 20s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 30%;
    width: 0px;
    height: 35%;
    background: rgba(131, 131, 131, 0.1);/*semi-transparent white background */
    backdrop-filter: blur(7px);
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar ul li {
    margin: 15px 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ddd;
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 5px;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

/* video-window */

.video-window {
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    border-radius: 10px;
    background: #000; /* A background color for better fallback */
    opacity: 0.9;
    /* mask-image: linear-gradient(black,black), radial-gradient(transparent 100%, black 100%);
    mask-composite: exclude;
    -webkit-mask-composite: xor; */
}

.video-window.large {
    top: 4%;
    right: 1%;
    width: 57%;
    height: 66%;
}

.video-window.small {
    bottom: 5%;
    left: 14%;
    width: 26%;
    height: 30%;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the window */
    opacity: 0.7;
}

.video-caption {
    position: absolute;
    bottom: 1px; /* Distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px); /* Slight padding from the sides */
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    /* background: rgba(0, 0, 0, 0.5); */
    /* padding: 5px; */
    border-radius: 5px;
}